<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="APP_NAME" value="DockerSampleApp"/>
    <property name="LOGS_FOLDER" value="/var/logs"/>
    <property name="LOGS_HISTORY_FOLDER" value="${LOGS_FOLDER}/history"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_FOLDER}/${APP_NAME}.log</file>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %-97(%-50(%d %5level %logger{10}) %X{REQUEST_ID}) : %msg %throwable{3}%n
            </pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_HISTORY_FOLDER}/${APP_NAME}_%d{yyyy-MM-dd}.log.zip</fileNamePattern>
        </rollingPolicy>
    </appender>

    <logger name="com.vodafone.m2m.DockerSampleApp" level="DEBUG" additivity="false">
        <appender-ref ref="APPENDER"/>
    </logger>

</configuration>
